* {
  box-sizing: border-box;
  color: white;
  padding: 0;

  justify-content: center;
  align-items: center;
  background-color: black;
}

#navbar {
  width: 100%;
  position: fixed;
  z-index: 2000;
  background-color: black;
  text-align: center;
  height: 117px;
}
.Logo-name {
  font-size: 50px;
}
.nav-userinfo {
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
}
.nav-userinfo-service {
  width: 200px;
  margin-right: 20px;
}
.nav-selector {
  display: flex;
  text-align: center;
  margin-left: 30px;
}
.nav-userinfo-service a {
  padding-left: 20px;
}

.nav-bar {
  list-style: none;
  justify-content: space-between;
  display: flex;
  width: 500px;
}

.padding {
  height: 117px;
}

#nav-pad {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 60px;
  background-color: black;
}
.nav-pad-1 {
  text-align: center;
  width: 200px;
}

.door {
  width: 100%;
}
.intro {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
.slide {
  padding: 0px 40px 0px 30px;
  overflow: hidden;
  font-size: 50px;
  text-align: center;

  justify-content: center;
}

.brand-cover {
  position: relative;
}
.brand-names {
  width: 60px;
  border-top: 2px solid purple;
  margin-left: 7%;
}

.slick-slide {
  display: inline-block;
  z-index: 99;
}
.slide-prev {
  font-size: 50px;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 50px;

  left: 1%;

  position: absolute;

  z-index: 1;
}

.slide-next {
  font-size: 50px;
  position: absolute;
  right: 1%;
  margin-top: 60px;
  margin-bottom: 50px;
  z-index: 99;
}

.spon {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
h1 {
  background-color: white;

  color: black;
}
/*Auth page*/
.Auth {
  text-align: center;
  background-color: white;
  display: flex;
}
.AuthPage {
  background-color: blanchedalmond;
  height: 10px;
  width: 100%;
}
.AuthPage-1 {
  border: 1px solid wheat;
  background-color: white;
  width: 100%;
  height: 500px;
}
.AuthPage-2 {
  margin-top: 5%;
  margin-left: 15%;

  background-color: white;
  width: 70%;
}

.email {
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 20px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  width: 60%;
  padding: 15px;
}
.password {
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 20px;
  height: 50px;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  width: 60%;
  padding: 15px;
}
.loginButton {
  width: 70%;
}
.socialtag {
  color: black;
  background-color: white;
  margin-top: 20px;
}
.social {
  margin-top: 20px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
}
.socialB {
  background-color: white;
}
.socialBt {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
}
